pycryptodome
Django
django-allauth
django-rest-auth
djangorestframework
djangorestframework_jwt
Jinja2
mysqlclient
uwsgi
request
requests
urllib3
mongoengine
django-rest-framework-mongoengine
pytesseract
numpy
Pillow
opencv-python