{% extends "include/layout.html" %}
{% load filters %}
{% block content %}
    <div class="content">
        {% if article %}
            <div class="article">
                <div class="title">
                    {{ article.title }} | {{ article.user.username }} | {{ article.reg_date }}
                </div>
                <div class="content">
                    {{ article.content }}
                </div>
                <div class="comment">
                    {% for item in comment.results %}
                        <div>{{ item.user.username }} | {{ item.content }} | {{ item.reg_date }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="table">
            <table>
                <tr>
                    <th style="width: 10%">idx</th>
                    <th style="width: 50%">title</th>
                    <th style="width: 15%">user</th>
                    <th style="width: 25%">reg_date</th>
                </tr>
                {% for item in list.results %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td><a href="/article/{{ item.id }}?{{ request.GET.urlencode }}">{{ item.title }}</a></td>
                        <td>{{ item.user.username }}</td>
                        <td>{{ item.reg_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="paging">
            {% paging request list.count %}
        </div>
        <div class="search">
            <input type="text" placeholder="TITLE">
            <input type="button" value="SEARCH">
        </div>
    </div>


{% endblock %}